{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div id="title">
    <h1>Your contacts</h1>
</div>

<div id="content">
    {% for contact in contacts %}
    <div class="dark_color"><b>{{ contact.firstname }} {{ contact.lastname }}</b> as <b>{{ contact.pseudo }}</b> : {{ contact.code }} - <a href="/edit/{{ contact.id }}">edit</a> - <a href="/delete/{{ contact.id }}" onclick="if (!confirm('Are you sure you want to delete {{ contact.pseudo }}')) return false;">delete</a></div>
    {% endfor %}
    <h2>Add a contact</h2>
    <form action="#" method="post" class="dark_color">
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
</div>

{% endblock %}
